/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: 
 */














@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


body { background: #161411; color: #ffcf99; text-align: center; font: 300 12px/18px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; }


b {
    display: block; position: fixed;
    top: 50%; left: -1em; width: 5em; height: 100%;
    z-index: -1; background: #111;
    -webkit-transform: scale(2.5) rotate(45deg); -webkit-transform-origin: 20% 100%;
    -moz-transform: scale(2.5) rotate(45deg); -moz-transform-origin: 20% 100%;
    -o-transform: scale(2.5) rotate(45deg); -o-transform-origin: 20% 100%;
    border: 2px dashed #000;
    }
b.border-b {
    -webkit-transform: scale(2.5) rotate(-45deg); -webkit-transform-origin: 20% 100%;
    -moz-transform: scale(2.5) rotate(-45deg); -moz-transform-origin: 20% 100%;
    -o-transform: scale(2.5) rotate(-45deg); -o-transform-origin: 20% 100%; 
    left: auto; right: -1em;
    }
b.border-c { 
    -webkit-transform: scale(2.5) rotate(45deg); -webkit-transform-origin: 80% 100%;
    -moz-transform: scale(2.5) rotate(45deg); -moz-transform-origin: 80% 100%;
    -o-transform: scale(2.5) rotate(45deg); -o-transform-origin: 80% 100%;
    left: -10em; top: 0;
    }
b.border-d {
    -webkit-transform: scale(2.5) rotate(-45deg); -webkit-transform-origin: 20% 100%;
    -moz-transform: scale(2.5) rotate(-45deg); -moz-transform-origin: 20% 100%;
    -o-transform: scale(2.5) rotate(-45deg); -o-transform-origin: 20% 100%;
    left: auto; right: -10em; top: 0;
    }

 
h1, h2, h3, h4, h5 { font-weight: normal; text-transform: uppercase; }

@font-face {
    font-family: 'LeagueGothic';
    src: url('/static/fonts/leaguegothic-webfont.eot');
    src: url('/static/fonts/leaguegothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/leaguegothic-webfont.woff') format('woff'),
         url('/static/fonts/leaguegothic-webfont.ttf') format('truetype'),
         url('/static/fonts/leaguegothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face { font-family: "MolotRegular"; src: url('/static/Molot.eot'); src: local("/static/fonts/Molot"), local("/static/fonts/Molot"), url('/static/fonts/Molot.woff') format("woff"), url('/static/fonts/Molot.ttf') format("truetype"), url('/static/fonts/Molot.svg#Molot') format("svg"); }
@font-face { font-family: "InsolentRegular"; src: url('/static/insolent.eot'); src: url('/static/fonts/insolent.woff') format('woff'), url('/static/fonts/insolent.ttf') format('truetype'), url('/static/fonts/insolent.svg#webfontD7S5Wv86') format('svg'); }
h1, em, #body h3, #disqus_thread h3, h4 { font-family: "LeagueGothic", Arial, sans-serif; text-shadow: 1px 1px 0px #000, 2px 2px 0px #777, 3px 3px 0px #666, 4px 4px 0px #555, 5px 5px 0px #444, 6px 6px 0px #333, 7px 7px 0px #222; }   
html[lang='en'] h1, html[lang='en'] em, html[lang='en'] #body h3, html[lang='en'] #disqus_thread h3, html[lang='en'] h4, html[lang='en-us'] h1, html[lang='en-us'] em, html[lang='en-us'] #body h3, html[lang='en-us'] #disqus_thread h3, html[lang='en-us'] h4 {
    font-family: "LeagueGothic", Arial, sans-serif;
    } 


h1 { font-size: 6em; line-height: 1.5; text-align: center; cursor: default; }


table { margin: 2em auto 0 auto; font-weight: bold; color: #000; }
td { padding: 1em; }
table a { color: #FFF; text-decoration:none; }
table a:hover { color: #FFF; text-decoration: underline; }
table a:visited {color: #FFF; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #c0c0c0; }
a:hover { color: #F60; }

th { background-color: #000; color: #FFF; }

.py3None  {
    background-color: #991;
}


.py3False, .red {
    background-color: #A11;
}

.py3True, .green {
    background-color: #1A1;
    background-image: -webkit-gradient(
        linear,
        50 bottom,
        50 top,
        color-stop(0, rgb(26,128,0)),
        color-stop(0.88, rgb(15,190,15))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(26,128,0) 0%,
        rgb(15,190,15) 88%
    );
}


ul { list-style: none;}
footer { margin: 2em auto 2em auto; }
